@media  (max-width:820px) and (min-width:576px) {
      /* only of tab */
    .view-all{
        display: block;
        background-color: #DD0000;
        color: white;
        padding: 25px;
        margin-left: 729px;
        border: 1px solid white;
        border-radius: 14px;
        font-size: 23px;
        border-radius: 14px;
        width: 195px;

      }

    

      /* hero section */
      .hero-tablet{
        margin-left: 109px;
        width: 1393px;
        
      }

      /* blog section responsive */

      .blogs-tablet{
        flex-direction: column;
      }
      .blogs-tablet .select-option{
        background-color: white;
        flex-direction: row;
        padding-left: 58%;
        width: 864px;
        margin-left: -146px;
}
       .select-option button{
        /* width: 252px;
        height: 64px; */
        background: rgb(255, 255, 255);
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 26px;
        text-align: center;
        font-size: 25px;
       }

      
      
      
      .blogs-list{
        grid-template-columns: repeat(2,1fr);
        margin-top: 0px;
        padding-left: 218px;
        margin-top: -146px;
      }
      .blog-7,.blog-8,.blog-9{
        display: none;
      }
      .blog{
        width: 541px;
        height: 414.21px;
        border: 0.5px solid whitesmoke;
        border-radius: 10px;  
      }
      .blog .image img{
        width: 540px;
      }
      .blog-details{
        font-size: 25px;
      }

    

      /* footer responsive */
      footer{
        overflow-x: hidden;
        width: 193%;
      }

      footer hr{
        margin-left: 162px;
      }

}