
@media screen and (max-width:576px) {
    *{
        overflow-x: hidden;
    }
    .hero{
        display: flex;
    flex-direction: column;
    width: 323px;
    height: 860px;
    margin-left: 20px;
    margin-top: 12px;
    }
    
    .hero .text{
        margin-left: 27px;
    }
    .hero .text h1{
        font-size: 21px;
    }
    .hero .image{
    
        overflow-y: hidden;
        width: 323px;
    } 

    .image img{
            width: 252px;
        padding-left: 40px;
    } 

    /* .hero .image img{
        width: 233px;
        margin-left: 25px;
        margin-top: -212px;
    } */
    .blogs-section{
        display: flex;
        flex-direction: column;
    }
    .blogs-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 16px; 
    }
    footer{
        display: none;
    }
}