*{
    margin: 0;
    padding: 0;
}
/* ---------------
google fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200&family=Kanit:wght@300&family=Poppins:wght@600&family=Roboto+Slab&family=Trispace:wght@300&display=swap');

/* ---------------
google fonts
*/

body{
font-family: 'Arima', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Trispace', sans-serif;
}


/*------------- 
hero section start for pc
 ------------------- */

 .hero{
    background: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin-top:50px;
    margin-left: 300px;
    display: flex;
}
.hero .text{
    color: white;
    font-family: 'Kanit', sans-serif;
    padding-top: 12%;
    margin-left: 156px;
    width: 531px;
    height: 424px;
}
.hero .text h1{
    font-weight: 700;
    font-size: 70px;
}
.hero .text p{
    margin-top: 25px;
    
}
.hero .text button{
width: 187px;
height: 56px;

border: 0px solid #DD0000;
background: #DD0000;
border-radius: 5px;
margin-top: 25px;
font-weight: 400;
font-size: 20px;    
font-family: 'Poppins', sans-serif;
color: white;
}

.fa-greater-than{
    color: white;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.image img{
width: 581px;
height: 613px;
margin-top: 30px;
} 

/*------------- 
hero section end for pc
 ------------------- */


 /* -----------
  upcoming match list 
 */

 .match-section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.select-option{
   display: flex;
   flex-direction: column;
   margin: 3px 25px;
   background: #161616;
   width: 312px;
   height: 312px;
   border-radius: 10px;
}
.select-option button {
   
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 26px;
    text-align: center

}
.select-option button:hover{
    background-color: #DD0000;
    cursor: pointer;
    
}
.select-option button a{
    text-decoration: none;
    color:#161616;
    

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
 /* .selected a{
    background: #DD0000;
    padding: 25px 111px;
    border-radius: 10px;
    
} */

.match-list{
    display: grid;
    grid-template-columns: repeat(3,300px) ;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}
.match{
    width: 312px;
    height: 362px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}
.match .image{
    display: flex;
    
}
.match .image h5{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 27px ;
}
.match .image img{
    width: 112px;
    height: 85px;
    margin-top: 0px;
}

.match-details{
   margin-left: 50px;
}
.match-details .read-more  a{
   
    color: #161616;
    text-decoration: none;
    
}
.match-details p{
    margin-top: 24px;
}


/*------------ 
footer
---------- */



footer{
    background: #161616;
    width:100%;
    height: 344px;
    margin-top: 25px;
    text-align: center;
    color: #FFFFFF;
}


footer h1{
 padding-top:10px ;
 padding-bottom: 10px;
}

footer hr{
    width: 1320px;
    margin-left: 287px;
}
 footer ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
 footer ul li{
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
 }

 footer h4{
    margin-bottom: 10px;
 }
 footer i{
    padding: 20px;
 }


 /* ------------------------------
 responsive ness
 ----------------- */


 /*-----------------
            mobile screen 
 -------------------------------*/
 
@media screen and (max-width:576px) {
   

    *{
        overflow-x: hidden;
    }
    /* hero section responsive */
    .hero{
    display: flex;
    flex-direction: column;
    width: 338px;
    margin-left: 10px;
    height: 860px;
    margin-top: 12px;
    }
    
    .hero .text{
        margin-left: 27px;
    }
    .hero .text h1{
        font-size: 21px;
    }
    .hero .image{
    
        overflow-y: hidden;
        width: 323px;
    } 

    .image img{
            width: 252px;
        padding-left: 40px;
    } 

    /* .hero .image img{
        width: 233px;
        margin-left: 25px;
        margin-top: -212px;
    } */



   /* match list responsive */
    .match-section{
        display: flex;
        flex-direction: column;
    }
    .select-option{
        background: #FFFFFF;
    }
    .select-option button{
        width: 252px;
        height: 64px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 26px;
        text-align: center;
    }
    .select-option button a{
        color:black;
    }
    /* .selected a{
        background: #DD0000;
    padding: 25px 111px;
    border-radius: 10px;
    } */
    .match-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 5px;
        margin-left: 2px; 
    }
    
     .match-details{
        margin-left: 42px;
     }   
    .match .image h5{
        margin-left: 10px;
    margin-right: -21px;
    margin-top: 34px;
    }



  /* footer responsive */
      
    footer{
      text-align: center;
      background: #161616;
      color: #FFFFFF; 
      overflow-y: hidden;
      
    }
    footer h1{
        margin-top: 20px;
        font-size: 20px;
    }
    footer hr{
    width: 335px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-top: 12px;
    }
    footer ul {
        padding-top: 0px;
        margin-top: 0px;
        flex-direction: column;
    }
    footer ul li{
        padding-top: 2px;
    }
    footer h4{
       margin-top: -9px;
    margin-bottom: -6px;
}
    
   


    
}


/*---------------------- 
         tablet screen 
 ------------------*/
 

 @media screen and (max-width:834px) {
    /* only of tab */
  .view-all{
      display: none;
    }

    /* hero section */
    .hero{
      margin-left: 109px;
      width: 1393px;
      
    }

    /* blog section responsive */

    .match-section{
      flex-direction: column;
    }
    .match-section .select-option{
      background-color: white;
      flex-direction: row;
      padding-left: 58%;
      width: 864px;
      margin-left: -146px;
}
     .select-option button{
      /* width: 252px;
      height: 64px; */
      background: rgb(255, 255, 255);
      border-radius: 10px;
      margin-left: 30px;
      margin-top: 26px;
      text-align: center;
      font-size: 25px;
     }

    
    
    
    .match-list{
      grid-template-columns: repeat(2,1fr);
      margin-top: 0px;
      padding-left: 218px;
      margin-top: -146px;
    }
    /* .blog-7,.blog-8,.blog-9{
      display: none;
    } */
    .match{
      width: 541px;
      height: 414.21px;
      border: 0.5px solid whitesmoke;
      border-radius: 10px;  
    }
    .match .image img{
      width: 540px;
    }
    .match-details{
      font-size: 25px;
    }



    /* footer responsive */
    footer{
      overflow-x: hidden;
      width: 193%;
    }

    footer hr{
      margin-left: 162px;
    }

}